@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="page-header">
    <h2>@SharedHtmlLocalizer["PrepaidCardSales"]</h2>
    <div class="end-wrapper text-end me-5">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="fas fa-home"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="row">
    <div class="col">
        <div class="row"> 
            <div class="col-12 col-lg-3"> 
                <section class="card mb-3 border border-secondary">
                    <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary bg-primary">
                        <h2 class="card-title text-center text-light w-100"><i class='fa-solid fa-cube me-2'></i> Package2 Sales</h2>
                        <div class="card-actions d-flex position-static top-0 end-0">

                        </div>
                    </header>
                    <div class="card-body ">
                        <div class="row g-0">
                            <div class="col-12 text-center">
                                <h2 class="text-center m-0 fw-bold">82</h2>
                            </div>
                        </div>
                    </div>
                </section> 
            </div> 
        </div>

        <!-- ========== Start Card Block ========== -->
        <section class="card mb-3 border border-secondary">
            <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                <h2 class="card-title text-primary">Filter By</h2>
                <div class="card-actions d-flex position-static top-0 end-0">

                </div>
            </header>
            <div class="card-body ">
                <div class="row">
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="PaymentID" class="form-label">Payment ID</label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="PaymentID" id="PaymentID" aria-describedby="Payment ID" placeholder="Enter Payment ID" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Datepicker Field ========== -->
                        <label for="" class="form-label">Date Range</label>
                        <div class="input-daterange input-group rounded-4" data-plugin-datepicker>
                            @*
            <i class="fas fa-calendar-alt"></i>
        </span>*@<span class="input-group-text rounded-4 border border-secondary">
    @SharedHtmlLocalizer["From"]
</span>
    <!-- ========== Start Simple Input Field ========== -->


    <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="start" id="start" aria-describedby="" placeholder="" value="">


    <!-- ========== End Simple Input Field ========== --> <span class="input-group-text border-start-0 border-end-0 border-secondary rounded-0">
        @SharedHtmlLocalizer["To"]
    </span>
    <!-- ========== Start Simple Input Field ========== -->


    <input type="text" autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="end" id="end" aria-describedby="" placeholder="" value="">


    <!-- ========== End Simple Input Field ========== -->
</div>
                        <!-- ========== End Datepicker Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="CustomerName" class="form-label">Customer Name</label>
                        <input type="text" class="form-control form-control-lg rounded-4 border-secondary " name="CustomerName" id="CustomerName" aria-describedby="Customer Name" placeholder="Enter Name" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="MobileNumber" class="form-label">Mobile Number</label>
                        <input type="tel" class="form-control form-control-lg rounded-4 border-secondary " name="MobileNumber" id="MobileNumber" aria-describedby="Mobile Number" placeholder="Enter Mobile Number" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Input Field ========== -->

                        <label for="CustomerEmail" class="form-label">Customer Email</label>
                        <input type="email" class="form-control form-control-lg rounded-4 border-secondary " name="CustomerEmail" id="CustomerEmail" aria-describedby="Customer Email" placeholder="Enter Email" value="">


                        <!-- ========== End Simple Input Field ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="PaymentName" class="form-label">Package Name</label>
                        <select class="form-select form-select-lg rounded-4 border-secondary" name="prepaidCardList" id="prepaidCardList" aria-describedby="Package Name">
                            <option selected>Select Package</option> 
                        </select>


                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                    <div class="col-12 col-lg-3 mb-3">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <label for="PaymentMethod" class="form-label">Payment Method</label>
                        <select class="form-select form-select-lg rounded-4 border-secondary" name="PaymentMethod" id="PaymentMethod" aria-describedby="Payment Method">
                            <option selected>Select Method</option>
                            <option value="1">KNET</option>
                            <option value="2">Visa / Mastercard</option>
                        </select>


                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                    <div class="col-12 mt-3">
                        <a href="#" class="btn btn-lg btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========== End Card Block ========== -->
         
        <div class="row">
            <div class="col">
                <!-- ========== Start Card Block ========== -->
                <section class="card mb-3 border border-secondary">
                    <header class="card-header d-flex justify-content-between align-items-center p-3 border-secondary body-bg-secondary">
                        <h2 class="card-title text-primary">Package Sales</h2>
                        <div class="card-actions d-flex position-static top-0 end-0">

                        </div>
                    </header>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12">
                                <!-- ========== Start Table Block ========== -->
                                <table class="table border-secondary align-middle mobile-optimised datatable-default-" id="datatable-default-">
                                    <thead>
                                        <tr>
                                            <th data-priority="1" class="">Payment ID</th>
                                            <th data-priority="5" class="">Payment Date</th>
                                            <th data-priority="6" class="">Customer Name</th>
                                            <th data-priority="7" class="">Phone Number</th>
                                            <th data-priority="7" class="">Package Name</th>
                                            <th data-priority="4" class="">Total Amount (KWD)</th>
                                            <th data-priority="4" class="">Payment Method</th>
                                            <th data-priority="2" class="">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="border-secondary">
                                        <tr class="">
                                            <td class="" data-th="Payment ID">1</td>
                                            <td class="" data-th="Payment Date">16-12-2022</td>
                                            <td class="" data-th="Customer Name">Ahmad Abdullah</td>
                                            <td class="" data-th="Phone Number">91234567</td>
                                            <td class="" data-th="Package Name">Buy KWD 25 Package and get KWD 30 Credit to your Wallet</td>
                                            <td class="" data-th="Total Amount (KWD)">25.000</td>
                                            <td class="" data-th="Payment Method"><span class='px-2 rounded-pill fw-bold text-light bg-info'>KNET</span></td>
                                            <td class="text-center">
                                                <a href="payment-details.html" class="mb-1 mt-1 me-1 btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Payment Detail" data-bs-original-title="View Payment Detail" aria-label="View Payment Detail"><i class="fa fa-eye"></i></a>
                                                <a href="" class="mb-1 mt-1 me-1 btn btn-sm btn-secondary text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Print" data-bs-original-title="Print" aria-label="Print"><i class="fa fa-print"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td class="" data-th="Payment ID">1</td>
                                            <td class="" data-th="Payment Date">16-12-2022</td>
                                            <td class="" data-th="Customer Name">Ahmad Abdullah</td>
                                            <td class="" data-th="Phone Number">91234567</td>
                                            <td class="" data-th="Package Name">Buy KWD 50 Package and get KWD 60 Credit to your Wallet</td>
                                            <td class="" data-th="Total Amount (KWD)">50.000</td>
                                            <td class="" data-th="Payment Method"><span class='px-2 rounded-pill fw-bold text-light bg-success'>Visa / Mastercard</span></td>
                                            <td class="text-center">
                                                <a href="payment-details.html" class="mb-1 mt-1 me-1 btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Payment Detail" data-bs-original-title="View Payment Detail" aria-label="View Payment Detail"><i class="fa fa-eye"></i></a>
                                                <a href="" class="mb-1 mt-1 me-1 btn btn-sm btn-secondary text-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Print" data-bs-original-title="Print" aria-label="Print"><i class="fa fa-print"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- ========== End Table Block ========== -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ========== End Card Block ========== -->
            </div>
        </div>

    </div>
</div>
