
<!-- Modals -->
<!-- Vertically centered scrollable modal id="sort_modal" -->
<div class="modal fade" id="DisplayOrderModel" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sort_modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="sort_modalLabel">Display Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ========== Start Simple Input Field ========== -->

                @*<label for="" class="form-label">Display Order</label>*@
                @* <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="displayordervalue" id="displayordervalue" aria-describedby="Display Order" placeholder="" value="" min="0">*@

                <label for="" class="form-label">Enter Display Order</label>
                <input type="number" class="form-control  form-control-lg rounded-4 border-secondary " name="displayordervalue" id="displayordervalue" aria-describedby="Display Order" placeholder="" min="0">
                <input type="hidden" class="form-control" name="displayapiname" id="displayapiname">
                <input type="hidden" class="form-control" name="displayorderid" id="displayorderid">

                <!-- ========== End Simple Input Field ========== -->
            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success save-btn">Save</button>*@

                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-btn" onclick="updateDisplayOrder()">Update</button>

            </div>
        </div>
    </div>
</div>

<script src="~/developer/js/App/update-display-order.js" asp-append-version="true"></script>