@{
    var seoName = ViewBag.SeoName;
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = seoName });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<input type="hidden" id="hdnPageCount" value="0" />
<input type="hidden" id="hdnProductCount" value="0" />
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center" id="dv-products">
                </div>
            </div>
        </div>
    </div>
    <div id="dv-loadmore" style="text-align: center;display:none;">
        <a id="a-more" class="btn btn-primary rounded-pill text-white fw-bold text-uppercase mb-md-4 mb-0">@SharedHtmlLocalizer["View More"]</a>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#hdnPageCount").val(0);
        $("#hdnProductCount").val(0);
        appendProducts();

        $("#a-more").click(function () {
            event.preventDefault();
            appendProducts();
        });
    });

    function appendProducts() {
        var pageCount = parseInt($("#hdnPageCount").val()) + 1;
        var limit = 1000;
        showLoader();
        $.get("@Url.RouteUrl("productsbyajax")", { seoName: '@seoName', page: pageCount, limit: limit }, function (result) {
            $("#hdnProductCount").val(parseInt($("#hdnProductCount").val()) + parseInt(result.productCount));
            if (result.success) {
                if (result.html == "") {
                    $("#dv-empty-products").show();
                    $("#dv-products").hide();
                } else {
                    $("#dv-products").append(result.html);
                    $("#dv-empty-products").hide();
                    $("#dv-products").show();
                }

                $("#hdnPageCount").val(pageCount);

                var totalProductCount = parseInt(result.totalProductCount);
                var productCount = parseInt($("#hdnProductCount").val());
                if (productCount >= totalProductCount)
                    $("#dv-loadmore").hide();
                else
                    $("#dv-loadmore").show();

                hideLoader();
            }
            else {
                if (result.messageCode == 401) {
                    var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                    window.location.href = "/login?returnUrl=" + returnUrl;
                    return;
                }
            }
        });
    }
</script>


