@model IList<Utility.Models.Frontend.CustomerManagement.NotificationModel>
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["MyNotifications"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<input type="hidden" id="hdnPageCount" value="0" />
<input type="hidden" id="hdnNotificationCount" value="0" />
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8 mx-auto">
                <div id="dv-notifications"></div>
            </div>
        </div>
    </div>
    <div id="dv-loadmore" style="text-align: center;display:none;">
        <a id="a-more" class="btn btn-primary rounded-pill text-white fw-bold text-uppercase mb-md-4 mb-0">@SharedHtmlLocalizer["ViewMore"]</a>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#hdnPageCount").val(0);
        $("#hdnNotificationCount").val(0);
        appendNotifications();

        $("#a-more").click(function () {
            event.preventDefault();
            appendNotifications();
        });
    });

    function appendNotifications() {
        var pageCount = parseInt($("#hdnPageCount").val()) + 1;
        var limit = 20;
        showLoader();
        $.get("@Url.RouteUrl("notificationsbyajax")", { page: pageCount, limit: limit }, function (result) {
            $("#hdnNotificationCount").val(parseInt($("#hdnNotificationCount").val()) + parseInt(result.notificationCount));
            if (result.success) {
                if (result.html == "") {
                    $("#dv-empty-notification").show();
                    $("#dv-notifications").hide();
                } else {
                    $("#dv-notifications").append(result.html);
                    $("#dv-empty-notification").hide();
                    $("#dv-notifications").show();
                }

                $("#hdnPageCount").val(pageCount);

                var totalNotificationCount = parseInt(result.totalNotificationCount);
                var notificationCount = parseInt($("#hdnNotificationCount").val());
                if (notificationCount >= totalNotificationCount)
                    $("#dv-loadmore").hide();
                else
                    $("#dv-loadmore").show();

                hideLoader();
            }
            else {
                if (result.messageCode == 401) {
                    var returnUrl = "@(string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}")";
                    window.location.href = "/login?returnUrl=" + returnUrl;
                    return;
                }
            }
        });
    }
</script>