@model CompanySettingModel
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["DownloadOurApp"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 mx-auto">
                <div class="card mt-3 mt-md-0 rounded-5 border-secondary shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-4 col-xl-3 mx-auto mb-5">
                                <img src="/assets/img/Adhari-Logo.svg" class="img-fluid" alt="Adhari Logo">
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="text-center text-uppercase fw-bold  text-primary mb-3">@SharedHtmlLocalizer["DownloadOurApp"]</h3>
                            <div class="d-flex justify-content-center col-lg-8 mx-auto pb-3 pb-md-2">
                                <a href="@Model.AppStoreLink" class="mx-2" target="_blank" rel="noopener noreferrer">
                                    <img src="/assets/img/app-store-badge.png" class="img-fluid" alt="App Store Link">
                                </a>
                                <a href="@Model.PlayStoreLink" class=" mx-2" target="_blank" rel="noopener noreferrer">
                                    <img src="/assets/img/play-store-badge.png" class="img-fluid" alt="Google Play Link">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>