@model SiteContentModel
@{
    var breadCrumbItems = new List<BreadcrumbModel>();
    breadCrumbItems.Add(new BreadcrumbModel() { Url = "#", Title = SharedHtmlLocalizer["RefundPolicy"].Value });
}
@await Html.PartialAsync("_PageHeading", breadCrumbItems)
<section class="main-content py-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 order-2 order-md-1">
                <div class="summernote-content">
                    @Html.Raw(Model.Content)
                </div>
            </div>
        </div>
    </div>
</section>