
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>@SharedHtmlLocalizer["Dashboard"]</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/home">
                    <i class="bx bx-home-alt"></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="container my-auto">
    <div class="row flex-column align-items-center justify-content-center h-100">
        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center h-100 text-center">
            <img src="assets/img/Full_Logo.svg" class="img-fluid" width="250px" alt="">
            <h3 class="text-uppercase">@SharedHtmlLocalizer["Dashboard"]</h3>
        </div>
    </div>
</div>