@using Microsoft.AspNetCore.Mvc.Localization
@model Utility.Models.Frontend.Sales.OrderModel
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@{
    var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;
    Layout = "_LayoutReceipt";
}
<section class="main-content py-3">
    <div class="container">
        @await Html.PartialAsync("_OrderDetails", Model)
    </div>
</section>