#cover-spin {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(46 42 42 / 70%);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    right: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: white;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

/*.select2-container--bootstrap.select2-container--open {
    z-index: 9999999999;
}*/

.select2-container {
    z-index: 1025;
}


html[dir=rtl] .mobile-field {
    direction: ltr;
}

    html[dir=rtl] .mobile-field .border {
        border: 1px solid #dee2e6 !important;
    }

    html[dir=rtl] .mobile-field .border-secondary {
        border-color: #00aeef !important;
    }

    html[dir=rtl] .mobile-field .border-end-0 {
        border-right: 0 !important;
    }

    html[dir=rtl] .mobile-field .border-start-0 {
        border-left: 0 !important;
    }

    html[dir=rtl] .mobile-field .rounded-start {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 50rem !important;
        border-top-right-radius: 50rem !important;
    }

    html[dir=rtl] .mobile-field .rounded-end {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 50rem !important;
        border-top-left-radius: 50rem !important;
    }

    html[dir=rtl] .mobile-field .pe-0 {
        padding-right: 0 !important;
        padding-left: 0.75rem !important;
    }

    html[dir=rtl] .mobile-field input[type=tel] {
        text-align: left !important;
        border-right: 1px solid #00aeef !important;
        direction: ltr !important;
    }

@media (max-width: 321px) {
    .floating-btn span {
        padding-right: 54px;
        font-size: 14px;
        margin-left: 0 !important;
    }

    .offcanvas-body .btn-with-input-spinner.w-50 {
        width: 75% !important;
    }

    .offcanvas-footer h5 {
        font-size: 16px;
    }

    .offcanvas-footer .btn {
        font-size: 12px;
    }
}
