@model Utility.API.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewData["Title"] = "UnAuthorized";
}
<title>UnAuthorized</title>
<section class="body-sign">
    <div class="center-sign">
        <div class="panel card-sign">
            <div class="d-flex justify-content-between align-items-end">
                <a href="/" class="logo float-left mb-2 col-2">
                    <img src="/assets/img/Logo.svg" class="img-fluid" alt="Logo" />
                </a>
                <div class="card-title-sign mt-3 text-end">

                </div>
            </div>

            <div class="card-body">
                <p class="fw-bold">UnAuthorized</p>
                <p>You do not have access this page</p>
            </div>
        </div>

        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>
    </div>
</section>

