@model IList<Utility.Models.Frontend.Content.BannerModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="body-bg-secondary mt-3 mt-lg-0 pt-4 pt-lg-0 mb-3 mb-md-3">
    <div class="container mt-3 mt-lg-0">
        <div class="row">
            <div class="col-12 px-0">
                <div class="slider main_banner rounded-5 py-3 py-lg-0 mb-0">
                    @foreach (var item in Model)
                    {
                        <a href="#" class="rounded-5 mx-3 my-2 m-md-3">
                            <img src="@item.ImageUrl" class="img-fluid rounded-5">
                        </a>
                    }
                  
                </div>

                <script src="~/assets/vendor/js/slick.min.js"></script>
                <script>
                            $(document).ready(function () {
                                $('.main_banner').slick({
                                    rtl: false,
                                    slidesToShow: 1,
                                    slidesToScroll: 1,
                                    centerMode: true,
                                    swipeToSlide: true,
                                    // centerPadding: '40px',
                                    //   variableWidth: false,
                                    dots: true,
                                    arrows: false,
                                    autoplay: true,
                                    autoplaySpeed: 2000,
                                    responsive: [{
                                        breakpoint: 480,
                                        settings: {
                                            centerMode: false
                                        }
                                    }]
                                });
                                if ($('html').attr('dir') == 'rtl') {
                                    console.log("RTL enabled");
                                    $('.main_banner').slick('slickSetOption', 'rtl', true, false);
                                }
                            });
                </script>
            </div>
        </div>
    </div>
</section>
