@model Utility.Models.Frontend.CustomerManagement.AddressModel
<div class="col-12 offset-lg-2 col-lg-8">
    <div class="delivery-details mb-4">
        <h4 class="text-primary text-start text-md-center fw-bold mb-3">@SharedHtmlLocalizer["DeliveryDetails"]</h4>
        <div class="bg-grey row rounded-4 p-3 mx-0">
            <div class="inputGroup h-100 rounded-4 bg-grey d-flex flex-column justify-content-start align-items-start">
                <p class="address-name card-text mb-0 fw-bold">@Model.Name</p>
                <p class="address-content card-text mb-0">
                    @Model.AddressText<br>
                </p>
            </div>
        </div>
    </div>
</div>