@model IList<Utility.Models.Frontend.CustomerManagement.NotificationModel>

@foreach (var item in Model)
{
    <div class="bg-grey row rounded-4 p-3 mx-0 mb-3">
        <div class="row">
            <div class="col-12">
                <h5 class="mb-2 text-primary">
                    @item.Title <span class="float-end fw-normal fs-6 text-muted">@item.TimeAgo</span>
                </h5>
                <p class="mb-0">
                    @item.Message
                </p>
            </div>
        </div>
    </div>
}