@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="cancel-order-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cancel-order-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="cancel-order-modalLabel">Cancel Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeId" value="1" />
            </div>
            <div class="modal-body">
                <label for="" class="form-label ">Reason<span class=" text-danger">*</span></label>
                <textarea class="form-control form-control-lg rounded-4 border-secondary "
                          name="dialogNotes" id="dialogNotes" aria-describedby="Reason" placeholder="" rows="3" required></textarea>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Back</button>
                <button type="button" class="btn btn-success btn-danger" onclick="cancelOrderWithReason()">Cancel Order</button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cancelOrderWithReason  = () => {
            let orderId = $("#cancel-order-modal .modal-header #dialogOrderId").val();
            let dialogOrderTypeId = $("#cancel-order-modal .modal-header #dialogOrderTypeId").val();
            //get notes from body
            let notes = $("#cancel-order-modal .modal-body #dialogNotes").val();

            let submitData = new FormData();
            submitData.append("orderId", orderId);
            submitData.append("orderTypeId", dialogOrderTypeId);
            submitData.append("orderStatusId", @((Int16)OrderStatus.Cancelled));
            submitData.append("refundDeliveryFee", false);
            submitData.append("notes", notes);
            ajaxPost("driver/UpdateOrderStatus", submitData, cbPostCancelOrdderSuccess);
        }
    });

    cbPostCancelOrdderSuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Order', 'Order Cancelled Successfully');
            reloadPage();
        } else {
            ToastAlert('error', 'Order', data.message);
        }
    }
</script>