@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- CustomerType Vertically centered scrollable modal -->
<div class="modal fade" id="change-customer-type" data-bs-keyboard="false" tabindex="-1" aria-labelledby="change-customer-typeLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary body-bg-secondary">
                <input type="hidden" id="dialogCustomerTypeId" />
                <h5 class="modal-title fw-bold text-primary" id="change-customer-typeLabel">Customer Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <!-- ========== Start Simple Select Field Block ========== -->
                        <select class="form-select form-select-lg rounded-4 border-secondary" name="dialogCustomerTypeList" id="dialogCustomerTypeList" aria-describedby="">
                            <option value="false">B2C</option>
                            <option value="true">B2B</option>
                        </select>


                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-btn" onclick="updateCustomerType()">Save</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //Customer Type change
        updateCustomerType = () => {
            let submitData = new FormData();
            submitData.append("id", getTextValue("dialogCustomerTypeId"));
            submitData.append("b2b", getSelectedItemValue("dialogCustomerTypeList"));
            ajaxPost("customer/UpdateCustomerType", submitData, onCustomerTypeSuccess);
        }
     

    onCustomerTypeSuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Customer Type', "customer type changed successfully");
            location.reload();
        } else {
            ToastAlert('error', 'Customer Type', "unable to change customer type");
        }

    }
 });

</script>