@{
}
<div class="modal fade" id="confirm-delivery-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm-delivery-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="confirm-delivery-modalLabel">Confirm Order Delivery</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeId" value="1" />
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <p>Are you sure the order is delivered?</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-btn" onclick="confirmOrderDelivery()">Confirm</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        confirmOrderDelivery = () => {
            let orderId = $("#confirm-delivery-modal .modal-header #dialogOrderId").val();
            let dialogOrderTypeId = $("#confirm-delivery-modal .modal-header #dialogOrderTypeId").val();

            let submitData = new FormData();
            submitData.append("orderId", orderId);
            submitData.append("orderTypeId", dialogOrderTypeId);
            submitData.append("orderStatusId", @((Int16)OrderStatus.Delivered));
            ajaxPost("driver/UpdateOrderStatus", submitData, cbconfirmOrderDeliverySuccess);

        }

    });

    cbconfirmOrderDeliverySuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Confirm Delivery', 'Order status changed successfully');
            reloadPage();
        } else {
            ToastAlert('error', 'Confirm Delivery', data.message);
        }
    }
</script>