 <!-- Address Vertically centered scrollable modal -->
<div class="modal fade" id="display-addresses" data-bs-keyboard="false" tabindex="-1" aria-labelledby="display-addressesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary body-bg-secondary">
                <input type="hidden" id="dialogAddressCustomerId" />
                <h5 class="modal-title fw-bold text-primary" id="display-addressesLabel">@SharedHtmlLocalizer["Addresses"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-12">
                        <div class="row addresses">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">@SharedHtmlLocalizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //show customer address list
        showAddressListSuccess = (data) => {
            showLog(data);
            var address = $("#display-addresses .modal-body .row .addresses").html('');
            for (const r of data.data) { //no of rows
                var html = `<div class="col-12 col-md-4 mb-3">
                        <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                          <p class="address-name card-text mb-0 fw-bold">${r.name}</p>
                          <p class="address-content card-text mb-0"> ${r.addressText}<br> </p>
                        </div>
                    </div>`;
                address.append(html);
            }
        }
    });
</script>