<!DOCTYPE html>
<html lang="@SharedHtmlLocalizer["HTMLLang"]" dir="@SharedHtmlLocalizer["HTMLDir"]">
@{
     var requestCultureFeature = System.Globalization.CultureInfo.CurrentCulture.Name;
    // int.TryParse(Context.Request.Cookies["CountryId"], out int countryId);
   // var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}{Context.Request.QueryString}";


    //var token = Convert.ToString(Context.Request.Cookies["AuthenticationToken"]);
    //bool loggedIn = !string.IsNullOrEmpty(token);

}
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <title>@SharedHtmlLocalizer["ProjectTitle"]</title>
    <meta name="keywords" content="Adhari Admin" />
    <meta name="description" content="Adhari Admin Control Panel">
    <meta name="author" content="Media Phone Plus">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/fav/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Theme CSS -->
    @*<link rel="stylesheet" href="~/assets/css/theme.min.css" asp-append-version="true">*@
    @if (requestCultureFeature != "ar")
    { <link rel="stylesheet" href="~/assets/css/theme.min.css" asp-append-version="true"> 
    }
    else
    {  <link rel="stylesheet" href="~/assets/css/theme-rtl.css" asp-append-version="true"> 
    }

    <!-- Developer style-->
    <link rel="stylesheet" href="~/developer/css/developer.css" asp-append-version="true" />
    <!-- Head Libs -->
    <script src="~/assets/vendor/js/modernizr.js"></script>



    <!-- jQuery -->
    <script src="~/assets/vendor/js/jquery.js"></script>

</head>

<body>
    <div class="position-fixed vw-100 vh-100 top-0 start-0 body-bg-secondary flex-column justify-content-center align-items-center loader-container" style="z-index: 999999; --bs-bg-opacity: 0.5;">
        <div class="spinner d-flex justify-content-center align-items-center">
            <img src="~/assets/img/Logo.svg" class="rotate" alt="Loading">
        </div>
        <h3 class="text-primary mt-3">Loading</h3>
    </div>

    <div class="position-fixed vw-100 vh-100 top-0 start-0 body-bg-secondary flex-column justify-content-center align-items-center ajax-loader-container" style="z-index: 999999; --bs-bg-opacity: 0.5; opacity: 0.5;display: none;">
        <div class="spinner d-flex justify-content-center align-items-center">
            <img src="~/assets/img/Logo.svg" class="rotate" alt="Loading">
        </div>
        <h3 class="text-primary mt-3">Loading</h3>
    </div>

    <section class="body">
        <!-- start: header -->
        <header class="header">
            @await Component.InvokeAsync("NavigationHeader")
        </header>

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @await Component.InvokeAsync("NavigationMenu")

            <!-- end: sidebar -->

            <section role="main" class="content-body d-flex flex-column">
                <!-- start: page -->
                @RenderBody()
                <!-- end: page -->



            </section>

        </div>
    </section>
    <partial name="~/Views/UIComponents/_DisplayOrderModel.cshtml" />
    <div class="toast-container">
    </div>
    <!-- Start Internal List + Edit-->
    <!-- Scripts and Links -->
    <script src="/assets/vendor/js/ios7-switch.js"></script>


    <link rel="stylesheet" href="/assets/vendor/css/summernote-lite.css" />
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/css/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendor/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/css/dataTables.checkboxes.css" />
    <link rel="stylesheet" href="/assets/vendor/css/responsive.dataTables.css" />
    <style>
        div.dataTables_wrapper div.dataTables_length label {
            text-align: center;
        }
    </style>
    @*<link rel="stylesheet" href="~/assets/vendor/css/emojionearea.min.css" />*@

    <!-- Specific Page Vendor JS -->
    <script src="/assets/vendor/js/select2.js"></script>
    <script src="/assets/vendor/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/js/dataTables.bootstrap5.min.js"></script>
    <script src="/assets/vendor/js/dataTables.buttons.min.js"></script>
    <script src="/assets/vendor/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/vendor/js/buttons.html5.min.js"></script>
    <script src="/assets/vendor/js/buttons.print.min.js"></script>
    <script src="/assets/vendor/js/jszip.min.js"></script>
    <script src="/assets/vendor/js/pdfmake.min.js"></script>
    <script src="/assets/vendor/js/vfs_fonts.js"></script>
    <script src="/assets/vendor/js/dataTables.checkboxes.min.js"></script>
    @*<script src="/assets/vendor/js/dataTables.responsive.min.js"></script>*@
    <!-- End Internal List  + Edit -->
    <!-- Vendor -->

    <script src="/assets/vendor/js/jquery.browser.mobile.js"></script>
    <script src="/assets/vendor/js/popper.min.js"></script>
    <script src="/assets/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/js/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/js/common.js"></script>
    <script src="/assets/vendor/js/nanoscroller.js"></script>
    <script src="/assets/vendor/js/jquery.magnific-popup.js"></script>
    <script src="/assets/vendor/js/jquery.placeholder.js"></script>
    <script src="/assets/vendor/js/summernote-lite.js"></script>
    @*<script src="/assets/vendor/js/emojionearea.min.js"></script>*@
    <!-- Theme Base, Components and Settings -->
    <script src="/assets/vendor/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/assets/vendor/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/assets/vendor/js/theme.init.js"></script>
    <script src="/assets/js/main.js"></script>

    <environment include="Development">
        <script src="~/developer/js/App/web.development.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/developer/js/App/web.production.js" asp-append-version="true"></script>
    </environment>

    <script src="~/developer/js/App/auth-helper.js" asp-append-version="true"></script>
    <script src="~/developer/js/App/jwt-decode.min.js" asp-append-version="true"></script>
    <script src="~/developer/js/App/site.js" asp-append-version="true"></script>
    <!-- default settings for datatable -->
    <script src="~/developer/js/App/default-datatable.js" asp-append-version="true"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    @*@RenderSection("scripts", false);*@
</body>

</html>
