<!-- Add New Address modal -->
<div class="modal fade" id="addNewAddressModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addNewAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="addNewAddressModalLabel">Add New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills delivery-addresses mb-3 row col-12 col-lg-10 mx-auto justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 active" id="Home-tab" data-bs-toggle="tab" data-bs-target="#Home" role="tab" aria-controls="Home" aria-selected="true"><img src="assets/img/icons/address-icons/house-line.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">Home</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Apartment-tab" data-bs-toggle="tab" data-bs-target="#Apartment" role="tab" aria-controls="Apartment" aria-selected="true"><img src="assets/img/icons/address-icons/building.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">Apartment</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Office-tab" data-bs-toggle="tab" data-bs-target="#Office" role="tab" aria-controls="Office" aria-selected="true"><img src="assets/img/icons/address-icons/office.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">Office</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="School-tab" data-bs-toggle="tab" data-bs-target="#School" role="tab" aria-controls="School" aria-selected="true"><img src="assets/img/icons/address-icons/school.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">School</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Mosque-tab" data-bs-toggle="tab" data-bs-target="#Mosque" role="tab" aria-controls="Mosque" aria-selected="true"><img src="assets/img/icons/address-icons/mosque.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">Mosque</span></a>
                    </li>
                    <li class="nav-item col-4 px-1 px-lg-2 px-xl-3" role="presentation">
                        <a href="javascript:;" class="nav-link d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-lg-3 py-lg-2 body-bg-secondary border border-primary fw-normal rounded-3 mb-2 " id="Government-tab" data-bs-toggle="tab" data-bs-target="#Government" role="tab" aria-controls="Government" aria-selected="true"><img src="assets/img/icons/address-icons/government.svg" class="img-fluid me-0 me-md-2"><span class="text-muted">Government</span></a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content bg-white">
                    <div class="tab-pane active" id="Home" role="tabpanel" aria-labelledby="Home-tab">

                        <div class="row">
                            <div class="col-6 col-md-4 mb-3">
                                <label for="inputAddress" class="form-label">Address Name<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogAddressName" id="dialogAddressName" placeholder="Address Name" required>
                            </div>
                            <div class="col-6 col-md-4 mb-3">
                                <label for="governorate" class="form-label">Governorate<span class="ms-1 text-danger">*</span></label>
                                <select class="form-select rounded-5 border-secondary body-bg-secondary"
                                        name="dialogGovernorateList" id="dialogGovernorateList">
                                    <option>Please Select...</option>
                                    <option>Al-Asimah</option>
                                    <option>Hawalli</option>
                                    <option>Farwaniya</option>
                                    <option>Mubarak Al-Kabeer</option>
                                    <option>Ahmadi</option>
                                    <option>Jahra</option>
                                </select>
                            </div>
                            <div class="col-6 col-md-4 mb-3">
                                <label for="city" class="form-label">City<span class="ms-1 text-danger">*</span></label>
                                <select class="form-select rounded-5 border-secondary body-bg-secondary"
                                        name="dialogCityList" id="dialogCityList">
                                    <option>Please Select...</option>
                                    <option>Abdullah Al Mubarak</option>
                                    <option>Abu Al Hasaniya</option>
                                    <option>Abou Halifa</option>
                                    <option>Adailiya</option>
                                    <option>Adan</option>
                                    <option>Ahmadi</option>
                                    <option>Nahda</option>
                                    <option>Qurain</option>
                                    <option>Qusour</option>
                                    <option>Andalous</option>
                                    <option>Ardiya</option>
                                    <option>Ishbiliya</option>
                                    <option>Bayan</option>
                                    <option>Al Bidea</option>
                                    <option>Daiya</option>
                                    <option>Dasman</option>
                                    <option>Dhajeej</option>
                                    <option>Doha</option>
                                    <option>Fahad Al Ahmad</option>
                                    <option>Fahaheel</option>
                                    <option>Faiha</option>
                                    <option>Farwaniya</option>
                                    <option>Fintas</option>
                                    <option>Hadiya</option>
                                    <option>Hawally</option>
                                    <option>Jaber Al Ahmad</option>
                                    <option>Jaber Al Ali</option>
                                    <option>Jabriya</option>
                                    <option>Jahra</option>
                                    <option>Qibla</option>
                                    <option>Kaifan</option>
                                    <option>Khaitan</option>
                                    <option>Khaldiya</option>
                                    <option>Mahboula</option>
                                    <option>Mangaf</option>
                                    <option>Mirqab</option>
                                    <option>Messila</option>
                                    <option>Mubarak Al Kabeer</option>
                                    <option>Nuzha</option>
                                    <option>Omariya</option>
                                    <option>Qadsiya</option>
                                    <option>Qasr</option>
                                    <option>Rabia</option>
                                    <option>Rai</option>
                                    <option>Rawda</option>
                                    <option>Rehab</option>
                                    <option>Riqai</option>
                                    <option>Rumaithiya</option>
                                    <option>Saad Al Abdullah</option>
                                    <option>Sabah Al Nasser</option>
                                    <option>Sabah Al Salem</option>
                                    <option>Sabahiya</option>
                                    <option>Sabhan</option>
                                    <option>Salam</option>
                                    <option>Salmiya</option>
                                    <option>Salwa</option>
                                    <option>Shamiya</option>
                                    <option>Sharq</option>
                                    <option>Shuhada</option>
                                    <option>Siddiq</option>
                                    <option>Al Qairawan</option>
                                    <option>Sulaibikhat</option>
                                    <option>Surra</option>
                                    <option>Yarmouk</option>
                                    <option>Zahra</option>
                                    <option>Dasma</option>
                                    <option>Sawaber</option>
                                    <option>Salhiya</option>
                                    <option>Shuwaikh Educational</option>
                                    <option>Shuwaikh Residential</option>
                                    <option>Shaab</option>
                                    <option>Mubarak AlAbdullah ( West Mishrif ) </option>
                                    <option>Garnata</option>
                                    <option>Al Masayel</option>
                                    <option>Fnaitees</option>
                                    <option>Abdullah AlSalem</option>
                                    <option>Mansouriya</option>
                                    <option>Bneid Al Qar</option>
                                    <option>Qortouba</option>
                                    <option>Hitten</option>
                                    <option>Mishrif</option>
                                    <option>Shouth Khaitan</option>
                                    <option>Abu Fatira</option>
                                    <option>Eqaila</option>
                                    <option>Al Riqqa</option>
                                </select>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">Block<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogBlcokNumber" id="dialogBlcokNumber" placeholder="Block Number" required>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">Street<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogStreetName" id="dialogStreetName" placeholder="Street Name or Number" required>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">Avenue</label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogAreaName" id="dialogAreaName" placeholder="Avenue Name or Number">
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">House No.<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogHouseNumber" id="dialogHouseNumber" placeholder="House Number" required>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">House No.<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogHouseNumber" id="dialogHouseNumber" placeholder="House Number" required>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">House No.<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogHouseNumber" id="dialogHouseNumber" placeholder="House Number" required>
                            </div>

                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">Avenue</label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogAvenueName" id="dialogAvenueName" placeholder="Avenue Name or Number">
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <label for="inputAddress" class="form-label">School Name<span class="ms-1 text-danger">*</span></label>
                                <input type="text" class="form-control rounded-5 border-secondary body-bg-secondary"
                                       name="dialogScholName" id="dialogScholName" placeholder="School Name" required>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="inputNotes" class="form-label">Notes</label>
                                <textarea class="form-control rounded-4 border-secondary body-bg-secondary pb-0"
                                          name="dialogNotes" id="dialogNotes" rows="3"></textarea>
                            </div>

                        </div>

                    </div>
                    
                            
                            
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> 
                <button type="button" class="btn btn-success save-btn">Save</button> 
            </div>
        </div>
    </div>
</div>
<!-- Cancel Order Modal -->
<div class="modal fade" id="cancel-order-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cancel-order-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="cancel-order-modalLabel">Cancel Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"> 
                <label for="" class="form-label ">Reason<span class=" text-danger">*</span></label>
                <textarea class="form-control form-control-lg rounded-4 border-secondary " name="" id="" aria-describedby="Reason" placeholder="" rows="3" required></textarea>
                
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Back</button>
                <button type="button" class="btn btn-success btn-danger">Cancel Order</button>


            </div>
        </div>
    </div>
</div>


<!-- Change Customer Type Modal -->
<div class="modal fade" id="change-customer-type" data-bs-keyboard="false" tabindex="-1" aria-labelledby="change-customer-typeLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="change-customer-typeLabel">Customer Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <!-- ========== Start Simple Select Field Block ========== -->

                        <select class="form-select form-select-lg rounded-4 border-secondary" name="" id="" aria-describedby="">
                            <option selected>B2C</option>
                            <option>B2B</option>
                        </select>


                        <!-- ========== End Simple Select Field Block ========== -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Save</button>


            </div>
        </div>
    </div>
</div>
<!-- Confirm Delivery Modal -->
<div class="modal fade" id="confirm-delivery-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm-delivery-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="confirm-delivery-modalLabel">Confirm Order Delivery</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="text-center">
                    <p>Are you sure the order is delivered?</p>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Confirm</button>


            </div>
        </div>
    </div>
</div><!-- Confirmation Request Modal -->
<div class="modal fade" id="confirmationRequestModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="confirmationRequestModalLabel">Send Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="m-0">Are you sure you want to send the notifications?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success send-notification-btn">Confirm</button>


            </div>
        </div>
    </div>
</div>
<!-- Assign Driver Modal -->
<div class="modal fade" id="dispatch-delivery-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="dispatch-delivery-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="dispatch-delivery-modalLabel">Dispatch Delivery</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- ========== Start Simple Select Field Block ========== -->
                <label for="AssignDriver" class="form-label">Assign Driver</label>
                <select class="form-select form-select-lg rounded-4 border-secondary" name="AssignDriver" id="AssignDriver" aria-describedby="Assign Driver">
                    <option value="" selected>Select Driver</option>
                    <option value="">Mahmood Ahmed</option>
                    <option value="">Muhammad Shaaban</option>
                    <option value="">Ali Musa</option>
                    <option value="">Hussam Ahmed</option>

                </select>


                <!-- ========== End Simple Select Field Block ========== -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Assign</button>


            </div>
        </div>
    </div>
</div>
<!-- Display Order Modal -->
<!--<div class="modal fade" id="sort_modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sort_modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="sort_modalLabel">Display Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">-->
                <!-- ========== Start Simple Input Field ========== -->

                <!--<label for="" class="form-label">Display Order</label>
                <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="" id="" aria-describedby="Display Order" placeholder="" value="">-->


                <!-- ========== End Simple Input Field ========== -->
            <!--</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Save</button>


            </div>
        </div>
    </div>
</div>-->
<!-- Display Wallet Modal -->
<div class="modal fade" id="display-wallet" data-bs-keyboard="false" tabindex="-1" aria-labelledby="display-walletLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="display-walletLabel">Wallet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <span class="fa-stack fa-2x mb-2 ">
                            <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa-solid fa-money-bill-1-wave fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="text-center text-primary mb-2">Cashback Amount</h5>
                        <h2 class="text-center text-primary fw-bold">KWD 3.000</h2>
                    </div>
                    <div class="col-6 text-center">
                        <span class="fa-stack fa-2x mb-2 ">
                            <i class="fa-solid fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa-solid fa-wallet fa-stack-1x fa-inverse"></i>
                        </span>
                        <h5 class="text-center text-primary mb-2">Wallet Amount</h5>
                        <h2 class="text-center text-primary fw-bold">KWD 12.000</h2>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>




            </div>
        </div>
    </div>
</div>
<!-- Edit System Permission Modal -->
<div class="modal fade" id="edit-permission-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit-permission-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="edit-permission-modalLabel">Role Permissions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="form-check-label m-0">Dashboard</h4>
                                    <!-- ========== Start ios7 Switch ========== -->

                                    <div class="switch switch-sm switch-primary my-0  ">

                                        <input type="checkbox" name="DashboardPermissions" id="DashboardPermissions" data-plugin-ios-switch />
                                    </div>
                                    <!-- ========== End ios7 Switch ========== -->

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="form-check-label m-0">Content</h4>
                                    <!-- ========== Start ios7 Switch ========== -->

                                    <div class="switch switch-sm switch-primary my-0  ">

                                        <input type="checkbox" name="ContentPermissions" id="ContentPermissions" data-plugin-ios-switch />
                                    </div>
                                    <!-- ========== End ios7 Switch ========== -->

                                </div>
                            </li>
                            <ul class="ps-2 ps-lg-4 list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Banners</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="BannersPermissions" id="BannersPermissions" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">About Us</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="AboutUsPermissions" id="AboutUsPermissions" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Terms and Conditions</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="TermsandConditionsPermissions" id="TermsandConditionsPermissions" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Privacy Policy</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="PrivacyPolicyPermissions" id="PrivacyPolicyPermissions" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Refund Policy</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="RefundPolicyPermissions" id="RefundPolicyPermissions" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Social Media Links</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="SocialMediaLinksPermissions" id="SocialMediaLinksPermissions" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                            </ul>

                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="form-check-label m-0">Products</h4>
                                    <!-- ========== Start ios7 Switch ========== -->

                                    <div class="switch switch-sm switch-primary my-0  ">

                                        <input type="checkbox" name="ProductsPermissions" id="ProductsPermissions" data-plugin-ios-switch />
                                    </div>
                                    <!-- ========== End ios7 Switch ========== -->

                                </div>
                            </li>
                            <ul class="ps-2 ps-lg-4 list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Categories</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Base Products</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Bundled Products</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                            </ul>

                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="form-check-label m-0">Subscriptions</h4>
                                    <!-- ========== Start ios7 Switch ========== -->

                                    <div class="switch switch-sm switch-primary my-0  ">

                                        <input type="checkbox" name="SubscriptionsPermissions" id="SubscriptionsPermissions" data-plugin-ios-switch />
                                    </div>
                                    <!-- ========== End ios7 Switch ========== -->

                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="form-check-label m-0">Products</h4>
                                    <!-- ========== Start ios7 Switch ========== -->

                                    <div class="switch switch-sm switch-primary my-0  ">

                                        <input type="checkbox" name="ProductsPermissions" id="ProductsPermissions" data-plugin-ios-switch />
                                    </div>
                                    <!-- ========== End ios7 Switch ========== -->

                                </div>
                            </li>
                            <ul class="ps-2 ps-lg-4 list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Categories</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <ul class="ps-3 ps-lg-5 list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="form-check-label m-0">Categories</h4>
                                            <!-- ========== Start ios7 Switch ========== -->

                                            <div class="switch switch-sm switch-primary my-0  ">

                                                <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                            </div>
                                            <!-- ========== End ios7 Switch ========== -->

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="form-check-label m-0">Base Products</h4>
                                            <!-- ========== Start ios7 Switch ========== -->

                                            <div class="switch switch-sm switch-primary my-0  ">

                                                <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                            </div>
                                            <!-- ========== End ios7 Switch ========== -->

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="form-check-label m-0">Bundled Products</h4>
                                            <!-- ========== Start ios7 Switch ========== -->

                                            <div class="switch switch-sm switch-primary my-0  ">

                                                <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                            </div>
                                            <!-- ========== End ios7 Switch ========== -->

                                        </div>
                                    </li>
                                </ul>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Base Products</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="form-check-label m-0">Bundled Products</h4>
                                        <!-- ========== Start ios7 Switch ========== -->

                                        <div class="switch switch-sm switch-primary my-0  ">

                                            <input type="checkbox" name="" id="" data-plugin-ios-switch />
                                        </div>
                                        <!-- ========== End ios7 Switch ========== -->

                                    </div>
                                </li>
                            </ul>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Save</button>


            </div>
        </div>
    </div>
</div>
<!-- Cancel Order Modal -->
<div class="modal fade" id="order-cancel" data-bs-keyboard="false" tabindex="-1" aria-labelledby="order-cancelLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="order-cancelLabel">Cancel Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="1" id="Refund_Total" value="{3:option1}">
                    <label class="form-check-label" for="">Refund Total</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="1" id="Refund_wihtout" value="option2">
                    <label class="form-check-label" for="">Refund wihtout Delivery charges</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Save</button>


            </div>
        </div>
    </div>
</div>
<!-- Change Order Status Modal -->
<div class="modal fade" id="order-status" data-bs-keyboard="false" tabindex="-1" aria-labelledby="order-statusLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="order-statusLabel">Change Order Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- ========== Start Simple Select Field Block ========== -->
                <label for="OrderStatus" class="form-label">Order Status</label>
                <select class="form-select form-select-lg rounded-4 border-secondary" name="OrderStatus" id="OrderStatus" aria-describedby="Order Status">
                    <option selected>Select one...</option>
                    <!-- When the order is created and Posted to system -->
                    <option value="1">Pending</option>

                    <!-- When the order is dispatched.
                    Usually will happen once the delivery date
                    is reached and driver is assigned -->
                    <option value="2">On The Way</option>

                    <!-- End status once the order has been fully paid for and fullfilled -->
                    <option value="3">Delivered</option>

                    <!-- Cancelled by Admin -->
                    <option value="4">Cancelled</option>

                    <!-- Discarded, when payment screen was abandoned by the user -->
                    <option value="5">Discarded</option>

                    <!-- In case the payment credentials could not be verified -->
                    <option value="6">Failed</option>

                    <!-- Once the order amount has been fully returned to the user -->
                    <option value="7">Refunded</option>
                </select>


                <!-- ========== End Simple Select Field Block ========== -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Save</button>


            </div>
        </div>
    </div>
</div>
<!-- Reschedule Delivery Modal -->
<div class="modal fade" id="reschedule-delivery-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reschedule-delivery-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="reschedule-delivery-modalLabel">Reschedule Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">Confirm Order to be reschedule?</p>
                    </div>
                    <div class="col-12 mb-3">
                        <!-- ========== Start Datepicker Field ========== -->
                        <label for="" class="form-label">Rescheule Delivery on<span class=" text-danger">*</span></label>
                        <div class="input-group rounded-4">
                            <span class="input-group-text rounded-4 border border-secondary">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                            <!-- ========== Start Simple Input Field ========== -->


                            <input type="text" data-plugin-datepicker autocomplete="off" class="form-control form-control-lg rounded-4 border-secondary " name="" id="" aria-describedby="" placeholder="" value="" required>


                            <!-- ========== End Simple Input Field ========== -->
                        </div>
                        <!-- ========== End Datepicker Field ========== -->
                    </div>
                    <div class="col-12">
                        <!-- ========== Start Simple Text Area ========== -->
                        <label for="" class="form-label ">Reason<span class=" text-danger">*</span></label>
                        <textarea class="form-control form-control-lg rounded-4 border-secondary " name="" id="" aria-describedby="Reason" placeholder="" rows="3" required></textarea>


                        <!-- ========== End Simple Text Area ========== -->
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Confirm</button>


            </div>
        </div>
    </div>
</div>
<!-- Send Payment Link Modal -->
<div class="modal fade" id="send-payment-link-modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="send-payment-link-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="send-payment-link-modalLabel">Send Payment Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Payment Link will be sent to the following phone number:</p>
                <!-- ========== Start Simple Input Field ========== -->


                <input type="tel" class="form-control form-control-lg rounded-4 border-secondary " name="" id="" aria-describedby="" placeholder="" value="91234567" required>


                <!-- ========== End Simple Input Field ========== -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Copy URL</button>
                <button type="button" class="btn btn-success send-sms-btn">Send</button>


            </div>
        </div>
    </div>
</div>
<!-- Stock Modal -->
<div class="modal fade" id="stock_modal" tabindex="-1" role="dialog" aria-labelledby="stock_modalTitleId" aria-modal="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Restock</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <label class="form-label fw-bold">Current Stock</label>
                            <p class="mb-0 fs-3 mt-3 text-center source-stock">22</p>
                        </div>
                        <div class="col-8">
                            <label class="form-label fw-bold">Action</label>
                            <div class="input-group mb-3">
                                <!-- ========== Start Simple Input Field ========== -->


                                <input type="number" class="form-control form-control-lg rounded-4 border-secondary " name="stockInput" id="stockInput" aria-describedby="" placeholder="0" value="">


                                <!-- ========== End Simple Input Field ========== --> <button class="btn btn-secondary text-light fw-bold dropdown-toggle rounded-4 stock-action-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">Add to Stock</button>
                                <ul class="dropdown-menu dropdown-menu-end stock-action-option">
                                    <li class="active"><a class="dropdown-item" data-action="addition" href="#">Add to Stock</a></li>
                                    <li><a class="dropdown-item" data-action="subtraction" href="#">Remove from Stock</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" data-action="setdirectly" href="#">Set Stock</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2">
                            <label class="form-label fw-bold">New Stock</label>
                            <p class="mb-0 fs-3 mt-3 text-center updated-stock">22</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- ========== Start Simple Text Area ========== -->
                            <label for="" class="form-label fw-bold">Note</label>
                            <textarea class="form-control form-control-lg rounded-4 border-secondary " name="" id="" aria-describedby="Note" placeholder="Enter notes about the stock update" rows="3"></textarea>


                            <!-- ========== End Simple Text Area ========== -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger fw-bold" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success fw-bold save-btn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Script For Stock Modal -->
<script>
    $('.stock-action-option li').click(function() {
        $('.stock-action-option li').removeClass('active');
        $(this).addClass('active');
        $('.stock-action-button').html($('.stock-action-option li.active').find('a').html());
        performCalculationAndSendToUpdatedStock();
    });
    $('#stockInput').change(function() {
        performCalculationAndSendToUpdatedStock();
    });
    performCalculationAndSendToUpdatedStock = () => {
        var sourceStock = parseInt($('.source-stock').html());
        var updatedStock = sourceStock;

        var action = $('.stock-action-option li.active').find('a').attr("data-action");
        switch (action) {
            case "addition":
                updatedStock = updatedStock + parseInt($('#stockInput').val());
                break;
            case "subtraction":
                updatedStock = updatedStock - parseInt($('#stockInput').val());
                break;
            case "setdirectly":
                updatedStock = parseInt($('#stockInput').val());
                break;
            default:
                // code block
        }
        $('.updated-stock').html(updatedStock);
    }
</script>
<!-- Subscription Status Modal -->
<div class="modal fade" id="subscription-status" data-bs-keyboard="false" tabindex="-1" aria-labelledby="subscription-statusLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="subscription-statusLabel">Change Subscription Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- ========== Start Simple Select Field Block ========== -->
                <label for="SubscriptionStatus" class="form-label">Subscription Status</label>
                <select class="form-select form-select-lg rounded-4 border-secondary" name="SubscriptionStatus" id="SubscriptionStatus" aria-describedby="Subscription Status">
                    <option value="">Active</option>
                    <option value="">Expired</option>
                </select>


                <!-- ========== End Simple Select Field Block ========== -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn">Save</button>


            </div>
        </div>
    </div>
</div>
<!-- View Address Modal -->
<div class="modal fade" id="display-addresses" data-bs-keyboard="false" tabindex="-1" aria-labelledby="display-addressesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="display-addressesLabel">Addresses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row addresses">
                            <div class="col-12 col-md-4 mb-3">
                                <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                                    <p class="address-name card-text mb-0 fw-bold">My Chalet</p>
                                    <p class="address-content card-text mb-0">
                                        Block No. 2, Street No. 32, Avenue No. 16, House No. 252, Area: Sea City, Governorate: Khairan<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                                    <p class="address-name card-text mb-0 fw-bold">Main Office</p>
                                    <p class="address-content card-text mb-0">
                                        Block No. 2, Street No. 32, Avenue No. 16, House No. 252, Area: Sharq, Governorate: Kuwait City<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                                    <p class="address-name card-text mb-0 fw-bold">Home</p>
                                    <p class="address-content card-text mb-0">
                                        Block No. 10, Street No. 15, Avenue No. 16, House No. 10, Area: Farwaniyah, Governorate: Khaitan<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                                    <p class="address-name card-text mb-0 fw-bold">My Chalet</p>
                                    <p class="address-content card-text mb-0">
                                        Block No. 2, Street No. 32, Avenue No. 16, House No. 252, Area: Sea City, Governorate: Khairan<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                                    <p class="address-name card-text mb-0 fw-bold">Main Office</p>
                                    <p class="address-content card-text mb-0">
                                        Block No. 2, Street No. 32, Avenue No. 16, House No. 252, Area: Sharq, Governorate: Kuwait City<br>
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="h-100 border border-secondary rounded-3 body-bg-secondary p-3">
                                    <p class="address-name card-text mb-0 fw-bold">Home</p>
                                    <p class="address-content card-text mb-0">
                                        Block No. 10, Street No. 15, Avenue No. 16, House No. 10, Area: Farwaniyah, Governorate: Khaitan<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button> 
            </div>
        </div>
    </div>
</div>