<!-- Vertically centered scrollable modal -->
<div class="modal fade" id="order-status" data-bs-keyboard="false" tabindex="-1" aria-labelledby="order-statusLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="order-statusLabel">Change Order Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeId" value="1" />
            </div>
            <div class="modal-body">
                <!-- ========== Start Simple Select Field Block ========== -->
                <label for="OrderStatus" class="form-label">Order Status</label>
                <select class="form-select form-select-lg rounded-4 border-secondary" 
                        name="dialogOrderStatus" id="dialogOrderStatus" aria-describedby="Order Status">
                    <option selected>Select one...</option>
                    <!-- When the order is created and Posted to system -->
                    <option value="1">Pending</option>
                    <!-- When the order is dispatched.
                    Usually will happen once the delivery date
                    is reached and driver is assigned -->
                    <option value="2">On The Way</option>
                    <!-- End status once the order has been fully paid for and fullfilled -->
                    <option value="3">Delivered</option>
                    <!-- Cancelled by Admin -->
                    <option value="4">Cancelled</option>
                    <!-- Discarded, when payment screen was abandoned by the user -->
                    <option value="5">Discarded</option>
                    <!-- In case the payment credentials could not be verified -->
                    <option value="6">Failed</option>
                    <!-- Once the order amount has been fully returned to the user -->
                    <option value="7">Refunded</option>
                </select>
                 
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-btn" onclick="cancelOrderWithStatus()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cancelOrderWithStatus  = () => {
            let orderId = $("#order-status .modal-header #dialogOrderId").val();
            let dialogOrderTypeId = $("#order-status .modal-header #dialogOrderTypeId").val();
            let dialogOrderStatus = getSelectedItemValue("dialogOrderStatus");
            if (dialogOrderStatus == "") {
                ToastAlert('error', 'Order Status', 'Please select order status');
            } else {
                let submitData = new FormData();
                submitData.append("orderId", orderId);
                submitData.append("orderTypeId", dialogOrderTypeId);
                submitData.append("orderStatusId", dialogOrderStatus);
                ajaxPost("order/UpdateOrderStatus", submitData, cbOrderStatusSuccess);
            }
        }
    });

    cbOrderStatusSuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Order', 'Order status changed successfully');
            reloadPage();
        } else {
            ToastAlert('error', 'Order', data.message);
        }
    }
</script> 