@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="order-status" data-bs-keyboard="false" tabindex="-1" aria-labelledby="order-statusLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content border-secondary">

            <div class="modal-header border-secondary body-bg-secondary">
                <h5 class="modal-title fw-bold text-primary" id="order-statusLabel">Change Order Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="dialogOrderId" value="" />
                <input type="hidden" id="dialogOrderTypeId" value="1" />
            </div>
            <div class="modal-body">

                <!-- ========== Start Simple Select Field Block ========== -->
                <label for="OrderStatus" class="form-label">Order Status</label>
                <select class="form-select form-select-lg rounded-4 border-secondary" name="dialogOrderStatusList" id="dialogOrderStatusList" aria-describedby="Order Status">
                    <option selected>All</option>
                    <option value="1">Recieved</option>
                    <option value="2">Confirmed</option>
                    <option value="2">Completed</option>
                    <option value="2">Refund</option>
                    <option value="2">Discarded</option>
                    <option value="2">Failed</option>
                </select>


                <!-- ========== End Simple Select Field Block ========== -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-success save-btn" onclick="updateOrder()">Save</button>


            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        updateOrder = () => {
            let orderId = $("#order-status .modal-header #dialogOrderId").val();
            let dialogOrderTypeId = $("#order-status .modal-header #dialogOrderTypeId").val();
            let orderStatus = getSelectedItemValue("dialogOrderStatusList");
            if (orderStatus == "") {
                ToastAlert('error', 'Update Order Status', 'Please select order status');
            } else {
                 
                let submitData = new FormData();
                submitData.append("orderId", orderId);
                submitData.append("orderTypeId", dialogOrderTypeId);
                submitData.append("orderStatusId", orderStatus);//cancelled 
                submitData.append("refundDeliveryFee", false);
                ajaxPost("order/UpdateOrderStatus", submitData, cbPostCancelOrdderSuccess);
            }
        }

    });

    cbPostCancelOrdderSuccess = (data) => {
        if (data.success) {
            ToastAlert('success', 'Order Status', 'Order status changed successfully');
            reloadPage();
        } else {
            ToastAlert('error', 'Order Status', data.message);
        }
    }
</script>